<% if (post.categories && post.categories.length){ %>
  <div class="meta-cate-flex">
    <%- list_categories(post.categories, {
      show_count: false,
      class: 'meta-cate',
      style: 'none',
      separator: '>'
    }) %>
  </div>
<% } %>