<div class="meta-cate-flex">
  <% if (post.categories && post.categories.length){ %>
  <%- list_categories(post.categories, {
    show_count: false,
    class: 'meta-cate',
    style: 'none',
    separator: '>'
  }) %>
  <% } else { %>
    Uncategorized
  <% } %> 
</div>
