<% if (site.posts.length){ %>
  <div class="widget-wrap">
    <div class="widget">
      <h3 class="widget-title"><%= __('archive_a') %></h3>
      <% let list = get_archive_list({order: 1}) %>
      <% for (item of list) { %>
        <a class="archive-link" href="<%- url_for(item.url) %> ">
          <%- item.str %> 
          <div class="archive-count"><%- item.count %> </div>
        </a>
      <% } %>
    </div>
  </div>
<% } %>
