<% if (site.categories.length){ %>
  <div class="widget-wrap">
    <div class="widget">
      <h3 class="widget-title"><%= __('categories') %></h3>
      <%- list_categories({show_count: theme.show_count}) %>
    </div>
  </div>
<% } %>
