<div class="widget-wrap">
  <div class="widget color-picker">
    <h3 class="widget-title">Color Picker</h3>
    <input type="range" min="0" max="360" value="<%- theme.hue %>" class="slider" id="colorSlider" step="5" style="width: 100%;">
    <p>Hue: <span id="hueValue"></span></p>
  </div>
</div>
<script>
  var slider = document.getElementById("colorSlider");
  var output = document.getElementById("hueValue");
  output.innerHTML = slider.value; // Display the default slider value
  var r = document.querySelector(':root');

  function getColorNode(l, c, h) {
      return new Color("oklch", [l, c, h]).to("srgb").toString({format: "hex"});
  }

  slider.oninput = function() {
    output.innerHTML = this.value;
    let hue = this.value;
    r.style.setProperty('--color-L16', getColorNode(0.16, 0.015, hue));
    r.style.setProperty('--color-L20', getColorNode(0.20, 0.020, hue));
    r.style.setProperty('--color-L25', getColorNode(0.25, 0.020, hue));
    r.style.setProperty('--color-L40', getColorNode(0.40, 0.040, hue));
    r.style.setProperty('--color-L50', getColorNode(0.50, 0.060, hue));
    r.style.setProperty('--color-L75', getColorNode(0.75, 0.120, hue));
  }
</script>
  