<div class="widget-wrap">
  <div class="widget color-picker">
    <h3 class="widget-title">Color Picker</h3>
    <input type="range" min="0" max="360" value="<%- theme.hue %>" class="slider" id="colorSlider" step="5" style="width: 100%;">
    <p>Hue: <span id="hueValue"></span></p>
  </div>
</div>
<script>
  var slider = document.getElementById("colorSlider");
  var output = document.getElementById("hueValue");
  output.innerHTML = slider.value; // Display the default slider value
  var r = document.querySelector(':root');

  function getColorNode(l, c, h) {
      return new Color("oklch", [l, c, h]).to("srgb").toString({format: "hex"});
  }

  let colors;
  fetch('/colors.json')
    .then((res) => {
      return res.json();
    })
    .then((data) => {
      colors = data;
    }) 

  slider.oninput = function() {
    output.innerHTML = this.value;
    let hue = this.value;
    for (let [theme, list] of Object.entries(colors)) {
      for (let color of list) {
        r.style.setProperty(`--${theme}-${color.name}`, getColorNode(color.l, color.c, hue));
      }
    }
  }
</script>
  