<%
  let hueList = [0, 30, 60, 180, 250, 270, 300, 330, 345];
%> 
<div class="widget color-picker">
  <h3 class="widget-title">Theme Preview</h3>
  <div id="banner-toggle-bar">
    <label for="vehicle1">Show Banner</label><br>
    <input type="checkbox" id="banner-checkbox" name="banner-checkbox" value="show">
  </div>

  <div id="preset-list">
    <%
      for (let hue of hueList) { 
      let colorStr = getColor(0.75, 0.14, hue)
    %>
      <div class="preset-btn" style="background-color: <%- colorStr %>;" data-hue="<%- hue %>"></div>
    <% } %> 
  </div>
  <input type="range" min="0" max="360" value="<%- theme.hue %>" class="slider" id="colorSlider" step="5" style="width: 100%;">
  <p class="hue-text">Hue: <span id="hueValue"></span></p>
  <p class="oklch-tip">You are using an outdated browser that does not support OKLCH colors. The color setting will not take effect.</p>
</div>

<script>
  let slider = document.getElementById("colorSlider");
  let output = document.getElementById("hueValue");
  let presetList = document.getElementById("preset-list");
  let r = document.querySelector(':root');
  output.innerHTML = slider.value; // Display the default slider value

  function getColorNode(l, c, h) {
    return new Color("oklch", [l, c, h]).to("srgb").toString({format: "hex"});
  }
  function setHue(hue) {
    localStorage.setItem('hue', hue);
    output.innerHTML = hue;
    slider.value = hue;

    r.style.setProperty(`--primary-hue`, hue);
  }

  let storedHue = localStorage.getItem('hue');
  if (storedHue) {
    setHue(storedHue);
  }

  slider.oninput = function() {
    output.innerHTML = this.value;
    let hue = this.value;
    setHue(hue);
  }

  presetList.onclick = function(event) {
    let hue = event.target.dataset.hue;
    if (hue) {
      setHue(hue);
    }
  }

  // Banner switch

  function enableBanner() {
    r.setAttribute("showBanner", "true");
    localStorage.setItem('showBanner', "true");
  }
  
  function disableBanner() {
    r.setAttribute("showBanner", "false");
    localStorage.setItem('showBanner', "false");
  }

  let showBannerCheck = document.querySelector("input[name=banner-checkbox]");
  if (r.getAttribute("showBanner") === "true") {
    showBannerCheck.checked = true;
  }
  showBannerCheck.addEventListener('change', function() {
    if (this.checked) {
      enableBanner();
    } else {
      disableBanner();
    }
  });
</script>
  