<%
  let hueList = [0, 30, 60, 180, 240, 270, 300, 330, 345];
%> 
<div class="widget color-picker">
  <h3 class="widget-title">Theme Preview</h3>
  <div id="banner-toggle-bar">
    <label for="vehicle1">Show Banner</label><br>
    <input type="checkbox" id="banner-checkbox" name="banner-checkbox" value="show">
  </div>
  <div id="preset-list">
    <%
      for (let hue of hueList) { 
      let colorStr = getColor(0.75, 0.14, hue)
    %>
      <div class="preset-btn" style="background-color: <%- colorStr %>;" data-hue="<%- hue %>"></div>
    <% } %> 
  </div>
  <input type="range" min="0" max="360" value="<%- theme.hue %>" class="slider" id="colorSlider" step="5" style="width: 100%;">
  <p>Hue: <span id="hueValue"></span></p>
</div>
<script>
  let slider = document.getElementById("colorSlider");
  let output = document.getElementById("hueValue");
  let presetList = document.getElementById("preset-list");
  let r = document.querySelector(':root');
  output.innerHTML = slider.value; // Display the default slider value

  function getColorNode(l, c, h) {
    return new Color("oklch", [l, c, h]).to("srgb").toString({format: "hex"});
  }
  function setHue(hue) {
    localStorage.setItem('hue', hue);
    output.innerHTML = hue;
    slider.value = hue;
    for (let [theme, list] of Object.entries(colors)) {
      for (let color of list) {
        r.style.setProperty(`--${theme}-${color.name}`, getColorNode(color.l, color.c, hue));
      }
    }
  }

  let colors;
  fetch("<%- url_for("/colors.json") %>")
    .then((res) => {
      return res.json();
    })
    .then((data) => {
      colors = data;
      let storedHue = localStorage.getItem('hue');
      if (storedHue) {
        setHue(storedHue);
      }    
    }) 

  slider.oninput = function() {
    output.innerHTML = this.value;
    let hue = this.value;
    setHue(hue);
  }

  presetList.onclick = function(event) {
    let hue = event.target.dataset.hue;
    if (hue) {
      setHue(hue);
    }
  }

  // Banner switch

  function enableBanner() {
    r.setAttribute("banner", "true");
    localStorage.setItem('showBanner', "true");
  }
  
  function disableBanner() {
    r.setAttribute("banner", "false");
    localStorage.setItem('showBanner', "false");
  }

  let showBannerCheck = document.querySelector("input[name=banner-checkbox]");
  if (r.getAttribute("banner") == "true") {
    showBannerCheck.checked = true;
  }
  showBannerCheck.addEventListener('change', function() {
    if (this.checked) {
      enableBanner();
    } else {
      disableBanner();
    }
  });
</script>
  