<div class="widget-wrap">
  <div class="widget tagcloud">
    <h3 class="widget-title">Color Picker</h3>
    <input type="range" min="0" max="360" value="100" class="slider" id="colorSlider" style="width: 100%;">
    <p>Hue: <span id="hueValue"></span></p>
  </div>
</div>
  