<div class="widget-wrap">
  <div class="info-card">
    <image src=<%- theme.avatar %> class="avatar" ></image>
    <div class="username"><%- config.author %> </div>
    <div class="dot"></div>
    <div class="subtitle"><%- config.subtitle %> </div>
    <div class="link-list">
      <button class="link-btn"></button>
      <button class="link-btn"></button>
      <button class="link-btn"></button>
    </div>
  </div>
</div>
