<% if (site.tags.length){ %>
  <div class="widget-wrap">
    <div class="widget tagcloud">
      <h3 class="widget-title"><%= __('tagcloud') %></h3>
      <%- tagcloud() %>
    </div>
  </div>
<% } %>