
// Config
support-for-ie = false
vendor-prefixes = webkit moz ms official

// Colors
color-default = #555
color-grey = #999
color-border = #ddd
color-link = #258fb8
color-background = #eee
color-sidebar-text = #777
color-widget-background = #ddd
color-widget-border = #ccc
color-footer-background = #262a30
color-mobile-nav-background = #191919
color-twitter = #00aced
color-facebook = #3b5998
color-pinterest = #cb2027
color-linkedin = #0077B5

// Fonts
font-sans = "Roboto", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif
font-serif = Georgia, "Times New Roman", serif
font-mono = "JetBrains Mono", "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace
font-icon = FontAwesome
font-icon-path = "fonts/fontawesome-webfont"
font-icon-version = "4.7.0"
font-size = 16px
line-height = 1.6em
line-height-title = 1.1em

// Header
logo-size = 40px
subtitle-size = 16px
banner-height = 300px
banner-url = hexo-config("banner")

sidebar = hexo-config("sidebar")

// Layout
block-margin = 16px
article-padding = 20px
article-top-padding = 32px
article-side-padding = 40px
article-bottom-padding = 16px
mobile-nav-width = 280px
main-column = 9
sidebar-column = 3

if sidebar and sidebar isnt bottom
  _sidebar-column = sidebar-column
else
  _sidebar-column = 0

// Styles
card-radius = 16px
inner-radius = 8px

// Transitions
trans-style = 0.15s ease-out

// Grids
column-width = 80px
gutter-width = 12px
columns = main-column + _sidebar-column
full-width = (column-width + gutter-width) * columns

// New Grid
page-width = 1200px
left-bar-width = 280px

// Media queries
mq-mobile = "screen and (max-width: 479px)"
mq-tablet = "screen and (min-width: 480px) and (max-width: 767px)"
mq-normal = "screen and (min-width: 768px)"

// Colors
color-N90 = alpha(white, 0.9)
color-N75 = alpha(white, 0.75)
color-N50 = alpha(white, 0.5) 
color-N30 = alpha(white, 0.3) 
color-N10 = alpha(white, 0.1)

color-B90 = alpha(black, 0.9)
color-B75 = alpha(black, 0.75)
color-B50 = alpha(black, 0.5)
color-B30 = alpha(black, 0.3)
color-B10 = alpha(black, 0.1)

:root
  --dark-L16: dark-L16
  --dark-L20: dark-L20
  --dark-L25: dark-L25
  --dark-L40: dark-L40
  --dark-L50: dark-L50
  --dark-L75: dark-L75

  --light-L55: light-L55
  --light-L70: light-L70
  --light-L95: light-L95
  --light-L98: light-L98

  --neut-L90: color-N90
  --neut-L75: color-N75
  --neut-L50: color-N50
  --neut-L30: color-N30
  --neut-L10: color-N10

  // Layout Color
  --page-background: var(--dark-L16)
  --card-background: var(--dark-L25)

  // Component Color
  --primary: var(--dark-L75)
  --main-title: color-N90

  --btn-bg: var(--dark-L40)
  --btn-content: color-N75
  --btn-hover: var(--dark-L50)
  --btn-content-hover: var(--btn-content)

  --card-btn-bg: var(--card-background)
  --card-btn-hover: var(--dark-L40)
  --card-btn-active: var(--dark-L50)
  --card-btn-icon: var(--primary)

  --btn-text-hover: var(--dark-L20)
  --btn-text-neutral-text: color-N75
  --btn-text-content: var(--dark-L75)
  --btn-text-light-text: var(--dark-L75)

  --timeline-dim-dot: var(--dark-L50)

  --title-hover: var(--primary)

  --light-dot: var(--primary)

  --tag-dot: var(--dark-L25)

  --article-meta: color-N50
  --article-text: color-N75
  --highlight-selection: var(--dark-L40)
  --article-code-bg: var(--dark-L40)
  --article-block: var(--dark-L20)
  --link: var(--primary)
  --link-hover-bg: var(--dark-L40)

  --color-picker-border: var(--primary)
  --color-picker-range: var(--dark-L40)
  --color-picker-thumb: var(--dark-L75)

  --badge-bg: var(--dark-L75)
  --text-on-light: var(--dark-L25)

  --pagenav-curr-bg: var(--primary)
  --pagenav-curr-text: var(--dark-L25)

  --info-name: color-N90
  --info-sub: color-N50

  --widget-title: var(--main-title)

  --archive-year: var(--neut-L75)
  --archive-date: var(--neut-L50)
  --archive-title: var(--neut-L75)
  --archive-tags: var(--neut-L30)
  --archive-dashline: var(--neut-L10)

  // Layout Setting
  --left-bar-width: left-bar-width

:root[theme='light']
  --page-background: var(--light-L98)
  --card-background: white

  --neut-L90: color-B90
  --neut-L75: color-B75
  --neut-L50: color-B50
  --neut-L30: color-B30
  --neut-L10: color-B10

  // Component
  --primary: var(--light-L70)
  --main-title: color-B90

  --btn-bg: var(--light-L95)
  --btn-content: var(--light-L55)
  --btn-hover: var(--light-L70)
  --btn-content-hover: color-N90

  --btn-text-hover: var(--light-L95)
  --btn-text-neutral-text: color-B75
  --btn-text-content: var(--light-L70)

  --card-btn-hover: var(--light-L95)
  --card-btn-active: var(--light-L98)

  --link-hover-bg: var(--light-L95)

  --tag-dot: var(--btn-content)

  --info-name: color-B90
  --info-sub: color-B50

  --article-meta: color-B50
  --article-text: color-B75

  --badge-bg: var(--light-L95)
  --text-on-light: var(--light-L55)

  --pagenav-curr-text: color-N90

  --color-picker-range: var(--light-L95)
