@import "nib"
@import "_variables"
@import "_util/mixin"
@import "_util/grid"

global-reset()

input, button
  margin: 0
  padding: 0
  &::-moz-focus-inner
    border: 0
    padding: 0

a
  text-decoration: none

@font-face
  font-family: FontAwesome
  font-style: normal
  font-weight: normal
  src: url(font-icon-path + ".eot?v=" + font-icon-version)
  src: url(font-icon-path + ".eot?#iefix&v=" + font-icon-version) format("embedded-opentype"),
       url(font-icon-path + ".woff2?v=" + font-icon-version) format("woff2"),
       url(font-icon-path + ".woff?v=" + font-icon-version) format("woff"),
       url(font-icon-path + ".ttf?v=" + font-icon-version) format("truetype"),
       url(font-icon-path + ".svg?v=" + font-icon-version + "#fontawesomeregular") format("svg")

@font-face {
  font-family: 'Material Symbols Rounded'
  src: url(fonts/MaterialSymbolsRounded.woff2) format("woff2")
}

.material-symbols-rounded
  font-family: 'Material Symbols Rounded'
  font-weight: 500
  font-style: normal
  font-size: 20px
  display: inline-block
  line-height: 1
  text-transform: none
  letter-spacing: normal
  word-wrap: normal
  white-space: nowrap
  direction: ltr
  user-select: none

@font-face
  font-family: Roboto
  font-style: normal
  font-weight: medium
  src: url(fonts/Roboto-Medium.ttf) format("truetype")

@font-face
  font-family: Roboto
  font-style: normal
  font-weight: bold
  src: url(fonts/Roboto-Bold.ttf) format("truetype")

@font-face
  font-family: Roboto
  font-style: normal
  font-weight: medium
  src: url(fonts/Roboto-Medium.ttf) format("truetype")

@font-face
  font-family: Roboto
  font-style: normal
  font-weight: regular
  src: url(fonts/Roboto-Regular.ttf) format("truetype")

html, body, #container
  height: 100%
  overflow-x: hidden

body
  font: font-size font-sans
  -webkit-text-size-adjust: 100%
  // background: url('../images/tile.png') var(--page-background)
  background: var(--page-background)
  background-size: 240px
  background-blend-mode: overlay    // TODO temporarily
  transition: background trans-style, color trans-style
  &:before
    // TODO rotate the background
    // content: ''
    // position: absolute
    // top: 0
    // left: 0
    // z-index: 10
    // height: 100%
    // width: 100%
    // background-color: none
    // rotate: 30deg

@css {
  #main-grid {
    grid-template-columns: min(30%, var(--left-bar-width)) auto;
    grid-template-rows: auto auto auto;
  }
}

#main-grid
  display: grid
  max-width: page-width
  margin: auto
  position: relative
  // grid-auto-rows: minmax(0, auto)
  grid-gap: 16px
  @media mq-mobile
    grid-template-columns: auto auto
  #nav
    grid-column-start: 1
    grid-column-end: 3
  #left-bar
    grid-row: 2
    grid-column: 1
    @media mq-mobile
      display: none
    @media mq-tablet
      display: none
  #content-body
    grid-column: 2
    grid-row: 2
    overflow: auto
    @media mq-mobile
      grid-column-start: 1
      grid-column-end: 3
    @media mq-tablet
      grid-column-start: 1
      grid-column-end: 3

  #footer-wrapper
    grid-row: 3
    grid-column-start: 1
    grid-column-end: 3

.outer
  clearfix()
  max-width: (column-width + gutter-width) * columns + gutter-width
  margin: 0 auto
  padding: 0 gutter-width

#main
  position: relative

.left, .alignleft
  float: left

.right, .alignright
  float: right

.clear
  clear: both

#container
  position: relative

.mobile-nav-on
  overflow: hidden

// .shadow
#nav
#left-bar
#content-body
#footer-wrapper
#back-to-top-btn
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.02))    // Don't apply this to the parents of the back-to-top buttons

#wrap
  height: 100%
  width: 100%
  position: absolute
  top: 0
  left: 0
  transition: 0.2s ease-out
  z-index: 1
  // background: color-background
  .mobile-nav-on &
    left: mobile-nav-width

if sidebar and sidebar isnt bottom
  #main
    @media mq-normal
      column(main-column)

if sidebar is left
  @media mq-normal
    #main
      float: right

@import "_extend"
@import "_partial/header"
@import "_partial/article"
@import "_partial/comment"
@import "_partial/archive"
@import "_partial/footer"
@import "_partial/highlight"
@import "_partial/mobile"
@import "_partial/back-to-top"
@import "_partial/main-title"

if sidebar
  @import "_partial/sidebar"