<sidebar id="sidebar">
  <% theme.sidebar.widgets.normal.forEach(function(widget){ %>
    <%- partial('_widget/' + widget) %>
  <% }) %>
  <div class="sticky">
    <% theme.sidebar.widgets.sticky.forEach(function(widget){ %>
      <%- partial('_widget/' + widget) %>
    <% }) %>
  </div>
</sidebar>