.archives-wrap
  margin: block-margin 0

.archives
  clearfix()

.archive-year-wrap
  margin-bottom: 1em

.archive-year
  @extend $block-caption

.archives
  column-gap: 10px
  @media mq-tablet
    column-count: 2
  @media mq-normal
    column-count: 3

.archive-article
  avoid-column-break()

.archive-article-inner
  @extend $block
  padding: 10px
  margin-bottom: 15px

.archive-article-title
  text-decoration: none
  font-weight: bold
  color: color-default
  transition: color 0.2s
  line-height: line-height
  &:hover
    color: color-link

.archive-article-footer
  margin-top: 1em

.archive-article-date
  color: color-grey
  text-decoration: none
  font-size: 0.85em
  line-height: 1em
  margin-bottom: 0.5em
  display: block

#page-nav
  clearfix()
  margin: block-margin auto
  text-align: center
  color: color-grey
  overflow: hidden
  display: flex
  justify-content: center
  gap: 12px
  #num-bar
    border-radius: inner-radius
    background: var(--color-L25)
    display: flex
    .current
      background: var(--color-L75)
      color: var(--color-L25)
  .page-nav-btn
    width: 40px
    height: 40px
    background: var(--color-L25)
    border-radius: inner-radius
    font-family: font-icon
    font-weight: 900
    font-size: 24px
    display: flex
    justify-content: center
    align-items: center
    color: var(--color-L75)
    &.disabled
      color: color-N10
      pointer-events: none
  a
    color: color-N75
    text-decoration: none
    transition: background trans-style
    &:hover
      &:not(.disabled)
        background: var(--color-L40)
  .page-number
    width: 40px
    height: 40px
    display: flex
    align-items: center
    justify-content: center
    border-radius: inner-radius
    font-weight: medium
    padding: 0
    @media mq-mobile
      display: none
  .space
    color: color-border   // TODO to be tested