.article
  margin-bottom: block-margin

.article-inner
  @extend $card
  overflow: hidden
  margin-bottom: block-margin
  .article-gallery
    margin-bottom: -(card-radius)

.article-main
  border-radius: card-radius
  position: relative
  background: var(--card-background)
  transition: background trans-style

.article-meta
  clearfix()

.article-date
  @extend $block-caption
  float: left

.meta-text
  color: var(--article-meta)
  font-size: 16px
  font-weight: medium
  text-decoration: none
  display: flex
  .meta-cate-flex
    display: flex
    gap: 6px
  a
    color: var(--article-meta)
    outline-width: 4px
    outline-style: solid
    outline-color: rgba(0,0,0,0)
    border-radius: 2px
    transition: color trans-style, outline trans-style, background trans-style
    &:hover
      outline-color: var(--btn-bg)
      background: var(--btn-bg)
      color: var(--link)
  .need-seperator
    display: flex
    align-items: center
    &:before
      content: ""
      position: relative
      transition: color trans-style
      background: var(--article-meta)
      height: 4px
      width: 4px
      border-radius: 50%
      margin: 0 16px

.article-category-link
  @extend $block-caption
  margin: 0 12px 1em

.article-header
  padding: article-top-padding article-side-padding 0
  h1
    margin-bottom: 6px
  .meta-text
    margin-bottom: 6px
  

.article-title
  @extend $main-title
  a&:hover
    color: var(--title-hover)

.article-entry
  @extend $base-style
  clearfix()
  color: var(--article-text)
  padding: 0 article-side-padding
  transition: color trans-style
  p, table
    line-height: line-height
    margin: line-height 0
  h1, h2, h3, h4, h5, h6
    font-weight: bold
  h1, h2, h3, h4, h5, h6
    line-height: line-height-title
    margin: line-height-title 0
  a
    color: var(--link)
    border-radius: 4px
    text-decoration: none
    transition: background trans-style, color trans-style, outline trans-style
    outline: 2px solid
    outline-color: rgba(0,0,0,0)
    overflow: visible
    &:hover
      outline-color: var(--link-hover-bg)
      background: var(--link-hover-bg)
  ul, ol, dl
    margin-top: line-height
    margin-bottom: line-height
  img, video
    max-width: 100%
    border-radius: inner-radius
    height: auto
    display: block
    margin: auto
  iframe
    border: none
  table
    width: 100%
    border-collapse: collapse
    border-spacing: 0
  th
    font-weight: bold
    border-bottom: 3px solid color-border
    padding-bottom: 0.5em
  td
    border-bottom: 1px solid color-border
    padding: 10px 0
  blockquote
    font-family: font-serif
    margin: line-height 20px
    text-align: center
    footer
      font-size: font-size
      margin: line-height 0
      font-family: font-sans
      cite
        &:before
          content: "—"
          padding: 0 0.5em
  .pullquote
    text-align: left
    width: 45%
    margin: 0
    &.left
      margin-left: 0.5em
      margin-right: 1em
    &.right
      margin-right: 0.5em
      margin-left: 1em
  .caption
    color: color-grey
    display: block
    font-size: 0.9em
    margin-top: 0.5em
    position: relative
    text-align: center
  // http://webdesignerwall.com/tutorials/css-elastic-videos
  .video-container
    position: relative
    padding-top: (9 / 16 * 100)% // 16:9 ratio
    height: 0
    overflow: hidden
    iframe, object, embed
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      margin-top: 0

.article-more-link
  display: flex
  align-items: center;
  justify-content: flex-end
  gap: 8px;
  float: right
  line-height: 40px
  color: var(--btn-text-content)
  text-decoration: none
  font-size: 16px
  font-weight: medium
  padding-left: 24px
  padding-right: article-side-padding
  border-radius: inner-radius 0 0 inner-radius
  transition: background trans-style, padding-right trans-style
  &:hover
    padding-right: article-side-padding - 4px
    background: var(--btn-text-hover)
    text-decoration: none


.article-footer
  clearfix()
  font-size: 0.85em
  line-height: line-height
  // border-top: 1px solid color-border
  margin: 0 0 article-bottom-padding (article-side-padding - 16px)

.article-tag-list
  margin-top: 12px
  display: flex
  flex-wrap: wrap
  row-gap: 10px
  column-gap: 10px

.article-tag-list-link
  @extend $text-btn
  color: var(--btn-content)
  font-size: 14px
  font-weight: medium  
  display: flex
  align-items: center
  &:before
    content: ""
    display: block
    height: 4px
    width: 4px
    border-radius: 50%
    background: var(--tag-dot)
    margin-right: 8px
    transition: background trans-style
  &:hover
    color: var(--btn-content-hover)
    &:before
      background: var(--btn-content-hover)

.article-comment-link
  float: right
  &:before
    content: "\f075"
    font-family: font-icon
    padding-right: 8px

.article-share-link
  color: var(--btn-text-content)
  cursor: pointer
  float: left
  font-size: 16px
  font-weight: medium
  display: flex
  align-items: center
  gap: 8px
  padding: 0 16px
  height: 40px
  transition: background trans-style
  border-radius: inner-radius
  &:hover
    background: var(--btn-text-hover)
    text-decoration: none


#article-nav
  // clearfix()
  position: relative
  display: flex
  gap: block-margin
  // @media mq-normal
  //   margin: block-margin 0
  //   &:before
  //     absolute-center(8px)
  //     content: ""
  .article-nav-btn
    @extend $card-btn
    width: 100%
    height: 60px
    display: flex
    padding: 0 24px
    gap: 20px
    color: var(--neut-L75)
    font-weight: bold
    font-size: 16px
    overflow: hidden
    i
      color: var(--primary)
      font-size: 20px
    &.left
      justify-content: flex-start
    &.right
      justify-content: flex-end
    &.disabled
      opacity: 0
    .title-text
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis




.article-nav-link-wrap
  text-decoration: none
  box-sizing: border-box
  margin-top: block-margin
  text-align: center
  display: block
  padding: 12px
  border-radius: inner-radius
  &:hover
    color: var(--link)
    background: var(--card-background)
  @media mq-normal
    margin-top: 0

#article-nav-newer
  @media mq-normal
    float: left
    text-align: left
    padding-right: 20px

#article-nav-older
  @media mq-normal
    float: right
    text-align: right
    padding-left: 20px

.article-nav-caption
  text-transform: uppercase
  letter-spacing: 2px
  color: color-border
  line-height: 1em
  font-weight: bold
  #article-nav-newer &
    margin-right: -2px

.article-nav-title
  font-size: 0.85em
  line-height: line-height
  margin-top: 0.5em

.article-share-box
  position: absolute
  display: none
  background: #fff
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2)
  border-radius: 3px
  margin-left: -145px
  overflow: hidden
  z-index: 1
  &.on
    display: block

.article-share-input
  width: 100%
  background: none
  box-sizing: border-box
  font: 14px font-sans
  padding: 0 15px
  color: color-default
  outline: none
  border: 1px solid color-border
  border-radius: 3px 3px 0 0
  height: 36px
  line-height: 36px

.article-share-links
  clearfix()
  background: color-background

$article-share-link
  width: 50px
  height: 36px
  display: block
  float: left
  position: relative
  color: #999
  text-shadow: 0 1px #fff
  &:before
    font-size: 20px
    font-family: font-icon
    absolute-center(@font-size)
    text-align: center
  &:hover
    color: #fff

.article-share-twitter
  @extend $article-share-link
  &:before
    content: "\f099"
  &:hover
    background: color-twitter
    text-shadow: 0 1px darken(color-twitter, 20%)

.article-share-facebook
  @extend $article-share-link
  &:before
    content: "\f09a"
  &:hover
    background: color-facebook
    text-shadow: 0 1px darken(color-facebook, 20%)

.article-share-pinterest
  @extend $article-share-link
  &:before
    content: "\f0d2"
  &:hover
    background: color-pinterest
    text-shadow: 0 1px darken(color-pinterest, 20%)

.article-share-linkedin
  @extend $article-share-link
  &:before
    content: "\f0e1"
  &:hover
    background: color-linkedin
    text-shadow: 0 1px darken(color-linkedin, 20%)

.article-gallery
  background: #000
  position: relative

.article-gallery-photos
  position: relative
  overflow: hidden

.article-gallery-img
  display: none
  max-width: 100%
  &:first-child
    display: block
  &.loaded
    position: absolute
    display: block
  img
    display: block
    width: 100%
    height: 20vh
    object-fit: cover
    margin: 0 auto
/*
$article-gallery-ctrl
  position: absolute
  top: 0
  height: 100%
  width: 60px
  color: #fff
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.3)
  opacity: 0.3
  transition: opacity 0.2s
  cursor: pointer
  &:hover
    opacity: 0.8
  &:before
    font-size: 30px
    font-family: font-icon
    position: absolute
    top: 50%
    margin-top: @font-size * -0.5

.article-gallery-prev
  @extend $article-gallery-ctrl
  left: 0
  &:before
    content: "\f053"
    left: 15px

.article-gallery-next
  @extend $article-gallery-ctrl
  right: 0
  &:before
    content: "\f054"
    right: 15px*/
