.back-to-top-wrapper
    width: 60px
    height: 60px
    position: absolute
    right: -84px
    top: 0

.back-to-top-btn
    width: 60px
    height: 60px
    font-family: font-icon
    color: var(--color-L75)
    font-size: 36px
    font-weight: bold
    border: none
    position: fixed
    bottom: 160px
    opacity: 0
    background: var(--color-L25)
    border-radius: card-radius
    transition: background trans-style, opacity trans-style
    cursor: pointer
    &:hover
        background: var(--color-L40)
    &:active
        background: var(--color-L50)