.back-to-top-wrapper
    width: 60px
    height: 60px
    position: absolute
    right: -84px
    top: 0
    @media mq-mobile
        display: none
    @media mq-tablet
        display: none

.back-to-top-btn
    @extend $card-btn
    width: 60px
    height: 60px
    font-family: font-icon
    color: var(--card-btn-icon)
    font-size: 36px
    font-weight: bold
    border: none
    position: fixed
    bottom: 160px
    opacity: 0
    transition: background trans-style, opacity trans-style
    cursor: pointer
