// Valine
.comment-card
  @extend $card
  padding: article-top-padding article-side-padding 0 article-side-padding
  *
    transition: none
  .title-bar
    margin-bottom: 24px
  .main-title
    @extend $main-title
  .vimg
    border-radius: inner-radius !important
    border: none !important
  .vat
    color: var(--primary) !important
  .vwrap
    padding: 0 !important
    border: none !important
  .item3
    display: flex !important
    gap: 12px !important
    margin-bottom: 12px !important
    input
      background: var(--input-field) !important
      border-radius: inner-radius !important
      padding-left: 16px !important
      border-bottom: none !important
  .vedit
    background: var(--input-field) !important
    border-radius: inner-radius !important
    padding: 16px !important
    margin-bottom: 12px !important
  .vinput
    font-size: 14px !important
    color: var(--neut-L75) !important
  ::placeholder
    color: var(--neut-L30)
  svg
    path
      fill: var(--primary)
  .vsubmit
    height: 32px
    min-width: 80px
    border: none !important
    background: var(--primary-btn-bg) !important
    color: var(--primary-btn-text) !important
    border-radius: inner-radius !important
    font-size: 14px !important
    font-weight: bold !important
  .vrow
    padding: 0 !important
  .vcount
    color: var(--neut-L50) !important
  .vhead
    .vnick
      color: var(--neut-L90) !important
      &:hover
        color: var(--primary) !important
  .vcontent
    p
      color: var(--neut-L75) !important  
  a
    &:hover
      color: var(--primary) !important
  .vquote
    border-left: none !important
  .vpower
    font-size: 14px !important
    padding: 0 !important
    padding-bottom: 24px !important
    line-height: 14px !important
    a
      font-size: 14px !important
      color: var(--link) !important
  .vh
    border-bottom: none !important
  .vcard
    padding-top: 8px !important
  .vemojis
    margin-top: 12px !important
  .vempty
    color: var(--neut-L30) !important