#footer
  background: var(--card-background)
  font-size: 16px
  font-weight: medium
  display: flex
  color: var(--neut-L50)
  margin: 0 auto
  border-radius: card-radius card-radius 0 0
  padding: 0 20px
  align-items: center
  height: 72px
  transition: background trans-style, color trans-style
  a
    @extend $text-link