#footer
  background: var(--card-background)
  font-size: 16px
  font-weight: medium
  display: flex
  color: var(--neut-L50)
  margin: 0 auto
  margin-top: 24px
  border-radius: card-radius card-radius 0 0
  a
    color: var(--link)
    text-decoration: none
    transition: color trans-style
    &:hover
      color: white
      
  #footer-info
    padding: 24px
