#footer
  background: var(--color-L25)
  font-size: 16px
  font-weight: 500
  display: flex
  color: color-N50
  margin: 0 auto
  width: full-width
  margin-top: 24px
  border-radius: card-radius card-radius 0 0
  a
    color: var(--color-L75)
    text-decoration: none
    transition: color trans-style
    &:hover
      color: white
      
  #footer-info
    padding: 24px
