navbar
  @extend $card
  height: 72px
  display: flex
  justify-content: space-between
  align-items: center
  position: relative
  margin: 0 auto
  border-radius: 0 0 card-radius card-radius

#title-nav
  margin-left: 16px
  a
    color: var(--btn-text-content)
    height: 52px
    border-radius: inner-radius
    align-items: center
    padding: 0 20px
    display: flex
    font-size: 16px
    font-weight: bold
    transition: background trans-style
    &:hover
      background: var(--btn-text-hover)
    #vix-logo
      display: flex
      flex-wrap: wrap
      gap: 4px
      width: 20px
      height: 20px
      transform: rotate(45deg)
      margin-right: 20px
      .dot
        height: 8px
        width: 8px
        border-radius: 50%
        background: var(--btn-text-content)

#main-nav
  float: left
  display: flex
  gap: 8px

$nav-link
  float: left
  color: var(--btn-text-neutral-text)
  text-decoration: none
  display: block
  border-radius: inner-radius
  transition: background trans-style, color trans-style
  &:hover
    background: var(--btn-text-hover)
    color: var(--btn-text-light-text)

.nav-icon
  @extend $nav-link
  font-family: font-icon
  text-align: center
  font-size: font-size
  width: 44px
  height: 44px
  display: flex
  position: relative
  cursor: pointer
  justify-content: center
  align-items: center

.main-nav-link
  @extend $nav-link
  font-weight: medium
  height: 44px
  padding: 0px 16px
  display: flex
  align-items: center
  @media mq-mobile
    display: none

#main-nav-toggle
  display: none
  &:before
    content: "\f0c9"
  @media mq-mobile
    display: block

#sub-nav
  margin-right: 16px
  display: flex
  gap: 4px

#search-form-wrap
  position: absolute
  top: 15px
  width: 150px
  height: 30px
  right: -150px
  opacity: 0
  transition: 0.2s ease-out
  &.on
    opacity: 1
    right: 0
  @media mq-mobile
    width: 100%
    right: -100%

.search-form
  position: absolute
  top: 0
  left: 0
  right: 0
  background: #fff
  padding: 5px 15px
  border-radius: 15px
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)

.search-form-input
  border: none
  background: none
  color: color-default
  width: 100%
  font: 13px font-sans
  outline: none
  &::-webkit-search-results-decoration
  &::-webkit-search-cancel-button
    -webkit-appearance: none

.search-form-submit
  position: absolute
  top: 50%
  right: 10px
  margin-top: -7px
  font: 13px font-icon
  border: none
  background: none
  color: #bbb
  cursor: pointer
  &:hover, &:focus
    color: #777