.title-bar
  display: flex
  align-items: center
  margin-bottom: 6px
  position: relative
  .title-dot
    display: flex
    width: 4px
    height: 20px
    position: absolute
    left: -16px
    background: var(--primary)
    border-radius: 2px
    transform: translate(0, -1px)