.main-title-bar
  display: flex
  align-items: center
  margin-bottom: 6px
  position: relative
  .main-title-dot
    width: 4px
    height: 20px
    position: absolute
    left: -16px
    top: 9.5px
    background: var(--primary)
    border-radius: 2px
  h1
    width: 100%
    a
      width: 100%
      display: block