#sidebar
  @media mq-normal
    column(sidebar-column)

.widget-wrap
  margin: block-margin 0

.widget-title
  // @extend $block-caption
  color: color-N90
  font-size: 20px
  font-weight: bold
  margin-bottom: 12px

.widget
  @extend $card
  color: color-sidebar-text
  padding: 20px
  overflow: hidden
  a
    color: var(--color-L75)
    text-decoration: none
    font-size: 16px
  ul, ol, dl
    ul, ol, dl
      margin-left: 15px
      list-style: disc
  .article-tag-list
    a
      color: color-N75

.info-card
  @extend .widget
  padding: 0 0 20px
  text-align: center
  .avatar
    width: 100%
    border-radius: card-radius
    margin-bottom: 8px
  .username
    font-size: 20px
    font-weight: bold
    color: color-N90
    line-height: 40px
  .dot
    width: 20px
    height: 4px
    background: var(--color-L75)
    border-radius: 2px
    margin-left: auto
    margin-right: auto
    margin-bottom: 8px
  .subtitle
    font-size: 16px
    line-height: 40px
    color: color-N50
  .link-list
    display: flex
    justify-content: center
    gap: 12px
    .link-btn
      @extend $button
      width: 40px
      height: 40px
      font-family: font-icon
      font-size: 24px

.color-picker
  position: fixed
  bottom: 12px
  right: 12px
  width: 240px
  z-index 10
  border: var(--color-L50) solid 3px
  p
    font-size: 16px
    font-weight: 500
    color: color-N75
  input
    margin-bottom: 12px

input[type="range"] {
  -webkit-appearance: none;
  height: 6px;
  background: var(--color-L40);
  border-radius: 3px;
}

/* Input Thumb */
::-webkit-slider-thumb
  -webkit-appearance: none;
  height: 20px;
  width: 6px;
  border-radius: 3px;
  background: var(--color-L75);
  box-shadow: none;
  transition: background trans-style;

::-moz-range-thumb
  -webkit-appearance: none;
  height: 20px;
  width: 6px;
  border-radius: 3px;
  background: var(--color-L75);
  box-shadow: none;
  transition: background trans-style;

&::-ms-thumb
  -webkit-appearance: none;
  height: 20px;
  width: 6px;
  border-radius: 3px;
  background: var(--color-L75);
  box-shadow: none;
  transition: background trans-style;
